@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

body {
    overflow-x: hidden;
    color: #505962;
}

#img {
    filter: brightness(50%);
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.carder {
    height: 230px;
}

.carder:hover {
    filter: opacity(50%);
}

.carder:hover .carder-text {
    bottom: 0;
    height: 100%;
}

.carder-text {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.caption {
    position: absolute;
    top: 38%;
    width: 100%;
}

.title {
    background-color: rgb(12,99,35);
    background: radial-gradient(circle, rgba(12,99,35,1) 0%, rgba(18,150,31,1) 82%);
    &-items {
        background-color: aqua;
        margin-top: 50%;
    }
}

.caption h1, .caption h3{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: .2rem;
    font-weight: 600;
    text-shadow: .1rem .1rem .8rem black;
}

.lista {
    list-style: none;
    padding: 0;
}

.footer {
    border-radius: 2em 2em 0 0;
    background-color: rgb(12,99,35);
    background: radial-gradient(circle, rgba(12,99,35,1) 0%, rgba(18,150,31,1) 82%);
}

.title-contact {
    font-size: 24px;
}

.link {
    color: white;
}

.icon {
    font-size: 30px;

    &-what:hover {
        color: #48C355;
    }

    &-you:hover {
        color: #FD2C30;
    }

    &-map:hover {
        color: #F3B604;
    }

    &-face {
        font-size: 150px;
    }
    &-face:hover {
        color: #0070F4;
    }
}


@import '../node_modules/bootstrap/scss/bootstrap.scss';